.container{
    padding: 0px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    color: #bbb;
    font-size: 14px;
}

.btn-primary:active, .btn-primary.active {
    background-color: #0E5796;
    border-color: #275883;
}

.btn-default {
  color: #ffffff;
  background-color: #5A5A5A;
  border-color: #474949;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #FFFFFF;
    background-color: #AAAAAA;
    border-color: #474949;
}

.btn-default:active, .btn-default.active {
    background-color: #B8B8B8;
    border-color: #474949;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #474949;
    border-color: #474949;
}

.btn-mini {
    padding: 0px 5px;
}

.table-header{
    color: white;
    background: #5A5A5A;  
}

.alert{
    margin-top:5px;
    margin-bottom:5px;
}

.modal-footer{
    padding: 10px;
    margin-top: 0px;
}

.form-control {
    height:30px;
    padding: 5px 7px;
}

.nav-tabs > li > a {
    border-radius: 0px;
    font-weight: bold;    
}

.brand-name{
    font-size: 19px;
    font-weight: bold;
}

.input-group-btn .btn{
    height: 30px;
    padding: 4px 7px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}

a {
    color: #494949;
}

a:hover, a:focus {
    color: #DFDFDF !important;
}

.nav-tabs > li > a:hover {
    border-color: #868686 #868686 #868686;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #5A5A5A;
    border-color: #868686;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #5A5A5A;
}

.nav .caret {
    border-top-color: #5A5A5A;
    border-bottom-color: #5A5A5A;
}

.nav a:hover .caret {
    border-top-color: #DFDFDF;
    border-bottom-color: #DFDFDF;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #5A5A5A;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #5A5A5A;
}

.btn-dropdown{
    border: 1px solid #ccc;
    line-height: 1.1;
    height:30px;
}

.panel,.btn, .btn-xs,.progress,.modal-content,.dropdown-menu,.list-group-item
, .form-control, .well, .alert, pre, .dropdown-menu, .label, .panel-heading{
    border-radius: 0px !important;
}

.progress{
    height:10px;
}

.progress-bar{
    color: #ffffff;
    background-color: #5A5A5A;    
}

.progress-bar-boxes{
    background: url('/public/img/progress_bar.gif') no-repeat;
    width: 100%;
    height: 100%;
}

.progress-label{
    position: absolute;
    margin-left: 39px;
    margin-top: 10px;
    font-size: 10px;
}

legend{
    padding-bottom: 10px;
}

.form-control:focus {
    border-color: #5A5A5A;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none ;
}

select{
    background:none;
}

.well{
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.alert{
    padding: 8px;
}

/* Let's get this party started 
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 

}
 
::-webkit-scrollbar-thumb {
    background: rgba(150,150,150,0.8);  
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(100,100,100,0.4); 
}

*/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 9px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background: #868686;  
}

.dropdown-list{
    overflow-y: scroll;
    max-height: 200px;
}

.dropdown-left .dropdown-list{
    right: 0; 
    left: auto;
}

.dropdown-top-left .dropdown-list{
    top: auto; 
    bottom: 0;
    right: 0; 
    left: auto;
    margin-bottom: 32px;
}

ul.pagination a{
    border-radius: 0px!important;;
}
