#visualization-graphs {
    overflow: hidden;
    min-height: 300px;
    margin: 0;
    list-style: none;
    padding: 0;
}

.visual-list{
    padding: 5px;
}

.visual-list ul{
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #ccc;    
}
.widget-placeholder {
    border: 3px dashed #3e3e3e;
    padding-top:100px!important;
}

.node rect {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 14px;
    text-anchor: middle;
    pointer-events: auto; /* Cancel the svg’s pointer-events */
}

.leafNode rect{
    fill: #300;
    stroke: red;
    stroke-width: 1.5px;    
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.graph-tree{
    border:1px solid #ccc;
}