<div class="panel" style="width:50%;margin:30px auto;text-align:center">
    <div class="panel-heading">
        <h3 class="panel-title">The application is under construction</h3>
    </div>
    <div>
        <i class="icon-cog icon-2x icon-spin"></i>
        <i class="icon-cog icon-5x icon-spin"></i>
        <i class="icon-cog icon-3x icon-spin"></i>
    </div>
</div>