<div  ng-app="main" style="min-height: 300px" ng-cloak>
    <di ng-controller="MainController" >
        <div ui-view="main-view">
        </div>
        <!-- Services -->
        <script src="<?php echo $this->baseUrl() ?>/js/services/userServices.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/js/services/datasetServices.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/js/services/classifierServices.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/js/services/programServices.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/js/services/processServices.js"></script>
        <link href="<?php echo $this->baseUrl() ?>/css/main.css" rel="stylesheet"/>
        <link href="<?php echo $this->baseUrl() ?>/css/app.css" rel="stylesheet"/>
        <link href="<?php echo $this->baseUrl() ?>/css/classifiers.css" rel="stylesheet"/>
        <link href="<?php echo $this->baseUrl() ?>/css/visualization.css" rel="stylesheet"/>
        <link href="<?php echo $this->baseUrl() ?>/css/datasets.css" rel="stylesheet"/>

        <!-- Controllers -->
        <script src="<?php echo $this->baseUrl() ?>/js/app.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/js/main.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/js/user.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/js/visualization.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/js/datasets.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/js/classifiers.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/js/graph.js"></script>
    </di>
</div>