<div style="width:50%;margin:30px auto;">
    <a class="btn btn-default btn-sm" style='margin-bottom:10px' href="<?php echo $this->baseUrl() . '/#/app/datasets/'; ?>"><i class="icon-arrow-left"></i> Back</a>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center">Upload dataset</h3>
        </div>
        <div class="panel-body">
            <?php
            if (isset($this->upload_msg)) {
                echo "<div class='alert alert-info'>" . $this->upload_msg . "</div>";
            }
            echo $this->upload_form;
            ?>
        </div>
    </div>
</div>