.file-dialog{
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.alert{
    padding: 2px 10px 3px 8px;
}

#output{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc; 
    margin-bottom:40px;
    padding:5px;
}

.outputArea{
    height:320px;
    overflow-y:scroll;
}

#terminalArea ul{
    border-left: 1px solid #ccc;
    padding: 5px;
    margin: 0px 5px;
    word-wrap: break-word;
}
