<div id="alertModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header " ng-class="{'alert-success': (alertShow==1),'alert-danger': (alertShow==2),'alert-info': (alertShow==3)}">
                <button type="button" class="btn btn-default btn-xs pull-right" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i>
                </button>  
                <h4 class="modal-title">
                    <strong ng-show="alertShow==1">Success! </strong> 
                    <strong ng-show="alertShow==2">Error! </strong> 
                    <strong ng-show="alertShow==3">Info! </strong> 
                    <strong ng-show="alertShow==4">Confirm! </strong> 
                </h4>
            </div>
            <div class="modal-body">
                {{alertMessage}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-show="alertShow==4" ng-click="alertCallback()">Yes</button>
                <button type="button" class="btn btn-default btn-sm" ng-show="alertShow==4"  data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default btn-sm" ng-show="alertShow!=4"  data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" style="margin-bottom: 5px">
    <li ng-class="{active: ($state.includes('app.classifiers') || $state.includes('app.classifiers.detail'))}">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i> Classifier <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a ng-href="{{baseUrl}}/#/app/classifiers/new">New</a></li>
            <li><a ng-href="{{baseUrl}}/#/app/classifiers/continue">Continue</a></li>
            <li><a ng-href="{{baseUrl}}/#/app/classifiers/active">Active</a></li>
            <li><a ng-href="{{baseUrl}}/#/app/classifiers/browse">Browse</a></li>
        </ul>
    </li>
    <li ng-class="{active: $state.includes('app.datasets') ||  $state.includes('app.datasets.detail')  }" >
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-file-alt"></i> Datasets <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a ng-href="{{baseUrl}}/#/app/datasets/browse">Browse</a></li>
            <li><a ng-href="{{baseUrl}}/index.php/index/upload">Upload</a></li>
            <li><a ng-href="{{baseUrl}}/#/app/datasets/active">Active</a></li>
            <li><a ng-href="{{baseUrl}}/#/app/datasets/archive">Archive</a></li>
        </ul>
    </li>
    <li ng-class="{active: $state.includes('app.visualization')}" >
        <a ng-href="{{baseUrl}}/#/app/visualization"><i class="icon-bar-chart"></i> Visualization</a>
    </li>
    <li class="dropdown pull-right"  ng-class="{active: $state.includes('app.user')}">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a ng-href="{{baseUrl}}/#/app/user">Change password</a></li>
            <li class="divider"></li>
            <li><a ng-href="{{baseUrl}}/index.php/index/logout">Logout</a></li>
        </ul>
    </li>
</ul>
<div class="tab-content">
    <div ui-view class="tab-pane active">

    </div>
</div>