<div ng-show="classifierNav=='new'" style="width:50%;margin:30px auto;">
    <form name="newForm" class="form-horizontal" novalidate>
        <legend>New training</legend>
        <div class="form-group">
            <label class="col-md-3 control-label">Category: </label>
            <div class="col-md-6">
                <select-dropdown list="classifierFolders" selected-key='newTraining.selectedFolder' change="selectFolder()">
                </select-dropdown>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Algorithm: </label>
            <div class="col-md-6">
                <select-dropdown list="classifierPrograms" selected-key='newTraining.selectedProgram' change="selectProgram()">
                </select-dropdown>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-6">
                <input class="form-control" type="text" name="classifier_name" placeholder="Classifier name" ng-model="newTraining.classifier.name" required ng-minlength="3" ng-maxlength="100">
                <div ng-show="newForm.classifier_name.$dirty && newForm.classifier_name.$invalid" class="alert alert-danger">
                    <span ng-show="newForm.classifier_name.$error.required">Required</span>
                    <span ng-show="newForm.classifier_name.$error.minlength || newForm.classifier_name.$error.maxlength">Length (3,100)</span>
                </div>
            </div>
        </div>
        <div ng-show="newTraining.program!=null">
            <hr>
            <div class="form-group">
                <label class="col-md-3 control-label">Dataset: </label>
                <div class="col-md-6">
                    <select-dropdown list="datasets" selected-key='newTraining.selectedDataset' change="selectNewDataset()">
                    </select-dropdown>
                </div>
            </div>
            <div ng-show="newTraining.program.arguments.length>0">
                <div class="form-group" ng-repeat="argument in newTraining.program.arguments" ng-form="subForm">
                    <label for="argument_input" class="col-md-3 control-label">{{argument.name}}: </label>
                    <div class="col-md-6">
                        <input type="text" name="argument_input" class="form-control" ng-model="argument.value" required>
                        <div style="padding: 1px 5px;" class="alert alert-info">{{argument.hint}}</div>
                        <div ng-show="subForm.argument_input.$dirty && subForm.argument_input.$invalid" class="alert alert-danger col-md-12">
                            <span ng-show="subForm.argument_input.$error.required">{{argument.name}} is required</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-md-3 control-label"></label>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" ng-click="startNewTraining()" ng-disabled="newForm.$invalid || newTraining.selectedFolder==null || newTraining.selectedProgram==null || newTraining.selectedDataset==null">
                    <i class="icon-cogs"></i> Run
                </button>
            </div>
        </div>
    </form>
</div>

<div ng-show="classifierNav=='continue'" style="width:50%;margin:30px auto;">
    <form name="continueForm" class="form-horizontal">
        <legend>Continue training</legend>
        <div class="form-group">
            <label for="" class="col-md-3 control-label">Classifier</label>
            <div class="col-md-6">
                <select-dropdown list="classifiers" selected-key='continueTraining.selectedClassifier' change="selectClassifier()">
                </select-dropdown>
            </div>
        </div>
        <div ng-show="continueTraining.program!=null">
            <hr>
            <div class="form-group">
                <label class="col-md-3 control-label">Dataset: </label>
                <div class="col-md-6">
                    <select-dropdown list="datasets" selected-key='continueTraining.selectedDataset' change="selectContinueDataset()">
                    </select-dropdown>
                </div>
            </div>
            <div ng-show="continueTraining.program.arguments.length>0">
                <div class="form-group" ng-repeat="argument in continueTraining.program.arguments" ng-form="subForm">
                    <label for="argument_input" class="col-md-3 control-label">{{argument.name}}: </label>
                    <div class="col-md-6">
                        <input type="text" name="argument_input" class="form-control" ng-model="argument.value" required>
                        <div style="padding: 1px 5px;" class="alert alert-info">{{argument.hint}}</div>
                        <div ng-show="subForm.argument_input.$dirty && subForm.argument_input.$invalid" class="alert alert-danger col-md-12">
                            <span ng-show="subForm.argument_input.$error.required">{{argument.name}} is required</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-md-3 control-label"></label>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" ng-click="startContinueTraining()" ng-disabled="continueForm.$invalid || continueTraining.selectedDataset==null || continueTraining.selectedClassifier==null">
                    <i class="icon-cogs"></i> Run
                </button>
            </div>
        </div>    
    </form>
</div>

<div ng-show="classifierNav=='active'">
    <h4 style="margin-top: 20px;">Active processes</h4>
    <table class="table table-hover table-bordered table-condensed" ng-mouseleave="activeProcessIndex=-1">
        <thead>
            <tr class="table-header">
                <th class="col-md-3">Start time</th>
                <th class="col-md-4">Classifier</th>
                <th class="col-md-4">Arguments</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="process in activeProcesses" ng-mouseover="assignActiveHover($index)">
                <td style="padding:6px">{{process.formated_start_time}}</td>
                <td><a href="{{baseUrl}}/#/app/classifiers/browse/{{process.classifier_id}}">{{process.classifier_name}}</a></td>
                <td>
                    <ul style="list-style: none;">
                        <li ng-repeat="argument in process.arguments">
                            <b>{{argument.name}}</b>: {{argument.value}}
                        </li>
                    </ul>
                </td>
                <td>
                    <button ng-show="activeProcessIndex==$index" ng-click='stopProcess(process)' class="btn btn-default btn-xs">Stop</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="classifierNav=='browse'">
    <form  class="form-inline" style="margin-top: 20px;">
        <label class="control-label">Classifier: </label>
        <select-dropdown list="classifiers" selected-key='browseClassifierIndex' change="changeClassifier()">
        </select-dropdown>
    </form>
    <hr style="margin:10px 10px">
    <div ng-show="browseClassifier">
        <div style="overflow:auto">
            <div ng-show="!renameClassifier" class="pull-left">
                <h4 style="margin:0px">Classifier: {{browseClassifier.name}}
                    <button ng-click="renameClassifier=true" class="btn btn-danger btn-sm">
                        <i class="icon-pencil"></i>
                    </button></h4>
            </div>
            <div ng-show="renameClassifier" class="pull-left" style="width:300px">
                <input type="text" class="col-md-6 form-control" style="width:85%;margin-right: 10px;" ng-model="browseClassifier.name"/>
                <button ng-click="closeRename()" class="btn btn-danger btn-sm">
                    <i class="icon-save"></i>
                </button>
            </div>
            <div class="pull-right">
                <button ng-click="removeClassifier()" class="btn btn-danger btn-xs">
                    <i class="icon-remove"></i>
                </button>
            </div>
        </div>
        <h5> Algorithm: {{browseClassifier.program_name}} </h5>
        <table class="table table-hover table-bordered table-condensed table-striped" ng-mouseleave="browseClassifier.hover=-1">
            <thead class="table-header">
                <tr>
                    <th class="col-md-1" style='width:1%'>Status</th>
                    <th class="col-md-2">Start Time</th>
                    <th class="col-md-2">Duration (mins)</th>
                    <th class="col-md-3">Arguments</th>
                    <th class="col-md-3">Dataset</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="process in browseClassifier.processes" ng-mouseover="browseClassifier.hover=$index">
                    <td style="padding:6px">
                        <div class="label label-warning" ng-show="process.status=='active'">Active</div>
                        <div class="label label-danger" ng-show="process.status=='error'">Error</div>
                        <div class="label label-success" ng-show="process.status=='done'">Done</div>
                    </td>
                    <td>{{process.formated_start_time}}</td>
                    <td>{{process.duration}}</td>
                    <td>
                        <ul style="list-style: none;">
                            <li ng-repeat="argument in process.arguments">
                                <b>{{argument.name}}</b>: {{argument.value}}
                            </li>
                        </ul></td>
                    <td><a href="{{baseUrl}}/#/app/datasets/browse/{{process.dataset_id}}">{{process.dataset_name}}</a></td>
                    <td>
                        <div ng-show="browseClassifier.hover==$index">
                            <button class="btn btn-danger btn-xs" ng-click="openProcessModal(process)" ng-show="process.status=='done' || process.status=='error'">
                                <i class="icon-desktop"></i>
                            </button>
                            <button class="btn btn-danger btn-xs" ng-click="deleteProcess(process)" ng-show="process.status=='done' || process.status=='error'">
                                <i class="icon-remove"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="trainingModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" class="btn btn-default btn-xs pull-right" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i>
                </button>  
                    <h4 class="modal-title">
                        <i class="icon-desktop"></i>
                        Terminal Output - Process ({{selected_process.start_time_formatted}})
                    </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <pre style="height:350px;overflow:auto">{{selected_process.output}}</pre>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>