
<div ng-show="datasetNav=='browse'" ng-show="datasets">
    <form class="form-inline" style="margin: 20px 0;">
        <label class="control-label">Dataset : </label>
        <select-dropdown list="datasets" selected-key='selectedDatasetIndex' change="changeDataset()">
        </select-dropdown>
    </form>
    <hr style="margin:10px 0px">
    <div ng-show="datasetDialog=='detail'">
        <div class="clearfix" style="margin: 5px 0px;">
            <div class="pull-left btn-toolbar">
                <div class="btn-group">
                    <div ng-show="!renameDataset">
                        <h4 style="margin:0">{{selectedDataset.name}}
                            <button ng-click="renameDataset=true" class="btn btn-danger btn-sm">
                                <i class="icon-pencil"></i>
                            </button></h4>
                    </div>
                    <div ng-show="renameDataset">
                        <input type="text" class="form-control col-md-4" style="width:250px;margin-right: 5px;" ng-model="selectedDataset.name"/>
                        <button ng-click="closeRename()" class="btn btn-danger btn-sm">
                            <i class="icon-save"></i>
                        </button>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                        Modifiers <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-show="(folder.programs.length>0) && folder.show" ng-repeat="folder in datasetFolders" class="dropdown-submenu">
                            <a href="">{{folder.name}}</a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="program in folder.programs"><a href="" ng-click="showModal(program)">{{program.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger btn-sm" ng-click="showDuplicateModal()">
                        Duplicate
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="showMergeModal()">
                        Merge
                    </button>
                    <a type="button" class="btn btn-danger btn-sm" ng-click="downloadDataset()">
                        Download
                    </a>
                </div>
            </div>
            <div class="pull-right btn-toolbar">
                <div class="btn-group">
                    <button ng-click="removeDataset()" class="btn btn-danger btn-sm">
                        <i class="icon-remove"></i>&nbsp; &nbsp;Delete
                    </button>
                </div>
            </div>
        </div>
        <h6>First 20 of total {{selectedDataset.rows_total}} rows</h6>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class="table-header">
                    <th>Label</th>
                    <th>Feature vector</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in selectedDataset.data">
                    <td>{{row.label}}</td>
                    <td>{{row.feature_vector}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="datasetDialog=='processing'">
        <h4>{{selectedDataset.name}}</h4>
        <div style="margin: 50px auto;width: 230px">
            <div class="progress progress-striped active">
                <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
            <p>The dataset is being processed...</p>
        </div>
    </div>
    <div ng-show="datasetDialog=='loading'">
        <div class="progress progress-striped active" style="margin: 50px auto;width: 200px">
            <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class='sr-only'>Loading...</span>
            </div>
        </div>
    </div>
    <div ng-show="datasetDialog=='download'">
        <div style="margin: 50px auto;width: 200px;text-align: center;">
            <a type="button" class="btn btn-danger btn-sm" ng-click="datasetDialog='detail'">Cancel</a>
            <a id="downloadBtn" type="button" class="btn btn-danger btn-sm" ng-click="datasetDialog='detail'">Download</a>
        </div>
    </div>
</div>

<div ng-show="datasetNav=='active'" style="margin-top:20px">
    <h4>Active processes</h4>
    <table class="table table-bordered table-condensed table-hover" ng-mouseleave="activeProcessIndex=-1">
        <thead class="table-header">
            <tr>
                <th class="col-md-2">Start Time</th>                
                <th class="col-md-3">Dataset</th>
                <th class="col-md-3">Program</th>
                <th class="col-md-3">Arguments</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="process in activeDatasetProcesses" ng-mouseover="assignActiveHover($index)">
                <td style="padding:6px">{{process.formated_start_time}}</td>
                <td>{{process.dataset_name}}</td>
                <td>{{process.program_name}}</td>
                <td>
                    <ul style="list-style: none;">
                        <li ng-repeat="argument in process.arguments">
                            <b>{{argument.name}}</b>: {{argument.value}}
                        </li>
                    </ul>
                </td>
                <td>
                    <button ng-show="activeProcessIndex==$index" ng-click='stopProcess(process)' class="btn btn-default btn-xs">Stop</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="datasetNav=='archive'" style="margin-top:20px">
    <h4>Archive</h4>
    <table class="table table-bordered table-condensed table-hover">
        <thead class="table-header">
            <tr>
                <th class="col-md-1" style="width:1%">Status</th>
                <th class="col-md-2">Dataset</th>
                <th class="col-md-3">Program</th>
                <th class="col-md-2">Start Time</th>
                <th class="col-md-1">Duration(mins)</th>
                <th class="col-md-3">Arguments</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="process in finishedProcesses">
                <td style="padding:6px;">
                    <div class="label label-danger" ng-show="process.status=='error'">Error</div>
                    <div class="label label-success" ng-show="process.status=='done'">Done</div>
                </td>
                <td><a href="{{baseUrl}}/#/app/datasets/browse/{{process.dataset_id}}">{{process.dataset_name}}</a></td>
                <td>{{process.program_name}}</td>
                <td>{{process.formated_start_time}}</td>
                <td>{{process.duration}}</td>
                <td>
                    <ul style="list-style: none;">
                        <li ng-repeat="argument in process.arguments">
                            <b>{{argument.name}}</b>: {{argument.value}}
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination" style="margin:0px 0px; margin-left:10px">
        <li ng-class="{disabled: tablePrev==0}"><a href="" ng-click="getDoneProcesses(tablePrev)">«</a></li>
        <li class="active"><a href="">{{tablePage}}</a></li>
        <li ng-class="{disabled: tableNext==0}"><a href="" ng-click="getDoneProcesses(tableNext)">»</a></li>
    </ul>
</div>

<div id="programModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="btn btn-default btn-xs pull-right" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i>
                </button>                
                <h4 class="modal-title">
                    {{selectedProgram.name}}
                    <button data-toggle="button" class='btn btn-default btn-xs' ng-click='showDescription=!showDescription'><i class='icon-question'></i></button>
                </h4>
                <div class="alert alert-info" style="margin-top:10px; margin-bottom:0px" ng-show='showDescription' >
                    {{selectedProgram.description}}
                </div>
            </div>
            <div class="modal-body">
                <form name="program_form" class="form-horizontal">
                    <div class="form-group" ng-repeat="argument in selectedProgram.arguments" ng-form="subForm">
                        <label class="col-md-4 control-label">{{argument.name}}</label>
                        <div class="col-md-6">
                            <input type="text" name="argument_input" class="form-control" ng-model="argument.value" required>
                            <div style="padding: 1px 5px;" class="alert alert-info">{{argument.hint}}</div>
                            <div ng-show="subForm.argument_input.$dirty && subForm.argument_input.$invalid" class="alert alert-danger col-md-12">
                                <span ng-show="subForm.argument_input.$error.required">{{argument.name}} is required</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="applyProgram()" ng-disabled="program_form.$invalid">Run</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="duplicateModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="btn btn-default btn-xs pull-right" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i>
                </button>
                <h4 class="modal-title">
                    Duplicate: {{selectedDataset.name}}
                </h4>
            </div>
            <div class="modal-body">
                <form name='duplicated_form' class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">New name</label>
                        <div class="col-md-6">
                            <input name="argument_input" type="text" class="form-control" ng-model="duplicateName" required ng-minlength="2" ng-maxlength="50">
                            <div ng-show="duplicated_form.argument_input.$dirty && duplicated_form.argument_input.$invalid" class="alert alert-danger">
                                <div ng-show="duplicated_form.argument_input.$error.required">Required</div>
                                <div ng-show="duplicated_form.argument_input.$error.minlength || duplicated_form.argument_input.$error.maxlength">Length (2,50)</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="duplicateDataset()" ng-disabled="duplicated_form.$invalid">Apply</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="mergeModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="btn btn-default btn-xs pull-right" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i>
                </button>
                <h4 class="modal-title">
                    Merge {{selectedDataset.name}}
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">With dataset</label>
                        <div class="col-md-6">
                            <select  class="form-control" style="width:250px" ng-options="dataset.id as dataset.name for dataset in datasets" ng-model="selectedMerge"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="mergeDataset()" ng-disabled="!selectedMerge">Apply</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>