<div class="panel panel-default" ng-controller="GraphController" onresize="{{onResize()}}" style="margin-bottom: 0px">
    <div class="panel-heading draggable-handle">
        <b>{{graph.title}}</b>
        <div class="btn-toolbar pull-right">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-xs" ng-class="{'active':graph.show=='settings'}" ng-click="graph.show='settings'" ng-disabled='graph.isLoading'>
                    <input type="radio" name="options"> <i class="icon-wrench"></i>
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':graph.show=='body'}" ng-click="graph.show='body'" ng-disabled='graph.isLoading'>
                    <input type="radio" name="options"> <i class="icon-check-empty"></i>
                </label>
                <label class="btn btn-default btn-xs" ng-class="{'active':graph.show=='close'}" ng-click="graph.show='close'" ng-disabled='graph.isLoading'>
                    <input type="radio" name="options"> <i class="icon-minus"></i>
                </label>
            </div>
            <div class="btn-group">
                <button ng-click="remove($index)" class="btn btn-xs btn-default" type="button">
                    <i class="icon-remove"></i>
                </button>
            </div>
        </div> 
    </div>

    <div class="panel-body" ng-show="graph.show=='settings'&&!graph.isLoading" style="width: 300px;margin: 0 auto;">
        <form ng-show="graph.dataType=='classifier'">
            <div class="form-group">
                <label>Process:</label>
                <select class="form-control" ng-model="selectedProcessIndex"  ng-options="process.key as process.formated_end_time for process in processes" ng-change="changeProcess()"></select>
            </div>
            <div class="form-group" ng-show="hasJson">
                <label>Outputs:</label>
                <select class="form-control" ng-model="selectedProcessOutput">
                    <option ng-repeat="output in processOutputs" value="{{$index}}">{{output.name}}</option>
                </select>
            </div>
            <div class="alert alert-info" ng-show="!hasJson && selectedProcessIndex!=null">
                <p>This process has no output.</p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="showProcessOutput()" ng-disabled="selectedProcessIndex==null || selectedProcessOutput==null">Show</button>
            </div>
        </form>
        <form name="graph_dataset_form" ng-show="graph.dataType=='dataset'">
            <div class="form-group">
                <label>Type of graph</label>
                <select class="form-control" ng-model="graph.graphType"  ng-options="type.type as type.name for type in datasetGraphs"></select>
            </div>
            <div ng-show="graph.graphType=='scatter'">
                <div class="form-group">
                    <label>X-axis</label>
                    <select name="scatter_x_input" class="form-control" ng-model="scatter.x" ng-required="graph.graphType=='scatter'">
                        <option ng-repeat="i in first_point track by $index" value="{{$index}}">{{$index}}</option>
                    </select>
                    <div ng-show="graph_dataset_form.scatter_x_input.$dirty && graph_dataset_form.scatter_x_input.$invalid" class="alert alert-danger">
                        <div ng-show="graph_dataset_form.scatter_x_input.$error.required">Required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Y-axis</label>
                    <select name="scatter_y_input" class="form-control" ng-model="scatter.y" ng-required="graph.graphType=='scatter'">
                        <option ng-repeat="i in first_point track by $index" value="{{$index}}">{{$index}}</option>
                    </select>
                    <div ng-show="graph_dataset_form.scatter_y_input.$dirty && graph_dataset_form.scatter_y_input.$invalid" class="alert alert-danger">
                        <div ng-show="graph_dataset_form.scatter_y_input.$error.required">Required</div>
                    </div>                    
                </div>
            </div>
            <div ng-show="graph.graphType=='histogram'">
                <div class="form-group">
                    <label>Dimension</label>
                    <select name="hist_dim_input" class="form-control" ng-model="hist.dim" ng-required="graph.graphType=='histogram'">
                        <option ng-repeat="i in first_point track by $index" value="{{$index}}">{{$index}}</option>
                    </select>
                    <div ng-show="graph_dataset_form.hist_dim_input.$dirty && graph_dataset_form.hist_dim_input.$invalid" class="alert alert-danger">
                        <div ng-show="graph_dataset_form.hist_dim_input.$error.required">Required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Number of bins</label>
                    <input name="hist_bin" type="number" class="form-control" ng-model="hist.bin" ng-required="graph.graphType=='histogram'">
                    <div ng-show="graph_dataset_form.hist_bin.$dirty && graph_dataset_form.hist_bin.$invalid" class="alert alert-danger">
                        <div ng-show="graph_dataset_form.hist_bin.$error.required">Required</div>
                    </div>
                </div>
            </div>
            <div ng-show="graph.graphType=='image_set'">
                <div class="alert alert-info">Feature vector's value from 0 to 255</div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="imageSet.square"> Image is a square
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-show="!imageSet.square">
                    <label>Width (pixel):</label>
                    <input name="image_set_width" type="number" class="form-control" ng-model="imageSet.width" ng-required="!imageSet.square">
                    <div ng-show="graph_dataset_form.image_set_width.$dirty && graph_dataset_form.image_set_width.$invalid" class="alert alert-danger">
                        <div ng-show="graph_dataset_form.image_set_width.$error.required">Required</div>
                    </div>
                </div>
            </div>
            <div ng-show="graph.graphType=='line'">
                <div class="form-group">
                    <label>X-axis</label>
                    <select name="line_x_input" class="form-control" ng-model="line.x" ng-required="graph.graphType=='line'">
                        <option ng-repeat="i in first_point track by $index" value="{{$index}}">{{$index}}</option>
                    </select>
                    <div ng-show="graph_dataset_form.line_x_input.$dirty && graph_dataset_form.line_x_input.$invalid" class="alert alert-danger">
                        <div ng-show="graph_dataset_form.line_x_input.$error.required">Required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Y-axis</label>
                    <select name="line_y_input" class="form-control" ng-model="line.y" ng-required="graph.graphType=='line'">
                        <option ng-repeat="i in first_point track by $index" value="{{$index}}">{{$index}}</option>
                    </select>
                    <div ng-show="graph_dataset_form.line_y_input.$dirty && graph_dataset_form.line_y_input.$invalid" class="alert alert-danger">
                        <div ng-show="graph_dataset_form.line_y_input.$error.required">Required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="drawDataset()" ng-disabled="graph_dataset_form.$invalid || graph.graphType==null">Draw</button>
            </div>
        </form>
    </div>

    <div class="panel-body"  ng-show="graph.show=='body'&&!graph.isLoading">
        <div class="graph-container" 
             ng-show="graph.graphType=='scatter' || graph.graphType=='histogram' || graph.graphType=='line'">
            <svg style="height:500px" xmlns='http://www.w3.org/2000/svg'></svg>
        </div>
        <div ng-show="graph.graphType=='image_set'">
            <label> Label: 
                <select ng-options="label as label for label in datasetLabels" class="form-control" style="width: 200px;margin-bottom: 10px" ng-model="selectedLabel"></select>
            </label>
            <div class="list-group-item" style="height:620px; overflow: auto;padding: 5px;">
                <div ng-repeat="image in data[selectedLabel]" class="pull-left col-md-4" style="margin: 0px;width: 250px;padding: 5px;">
                    <canvas style="margin:0px;border: 1px solid #ccc;" dataset-image-item data-img="{{image}}"></canvas>
                </div>
            </div>
        </div>
        <div ng-show="graph.graphType=='image_plot'" style="text-align: center;overflow: auto;">
            <h4>{{plotHeading}}</h4>
            <img ng-src="{{imagePlotSrc}}"></img>
        </div>
        <div ng-show="graph.graphType=='table'">
            <h4>{{tableHeading}}</h4>
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr class="table-header">
                        <th ng-repeat="header in tableData.headers">
                            {{header}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in tableData.rows">
                        <td ng-repeat="val in row">{{val}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="graph.graphType=='tree'">
            <h4>{{treeHeading}}</h4>
            <div class="graph-tree" style="height:500px">
                <svg></svg>
            </div>
        </div>
    </div>

    <div class="panel-body" ng-show="graph.isLoading" style="padding: 50px;">
        <div class="progress progress-striped active" style="width: 150px;margin: 0 auto;">
            <div class="progress-bar-boxes">
                <span class="progress-label">Downloading...</span>
            </div>
        </div>
    </div>

    <div class="panel-body" ng-show="graph.show=='error'">
        <div class="alert alert-danger">Can't load data</div>
    </div>
</div>
