<div class="btn-group">
    <button type="button" class="btn btn-dropdown dropdown-toggle" data-toggle="dropdown">
        {{selectedName}} &nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-list" role="menu" style="">
        <li ng-repeat="item in list track by $index" ng-class="setClass(item)" ng-click='itemClick(item)'><a href="">{{item.name}}</a></li>
    </ul>
</div>