<form class="form-horizontal" name="form" novalidate style="width:50%;margin:30px auto;">
    <legend>Change password</legend>
    <div class="form-group">
        <label for="currentPassword" class="col-md-4 control-label">Current password</label>
        <div class="col-md-6">
            <input class="form-control" name="currentPassword" type="text" ng-model="current_password" required  ng-minlength="2" ng-maxlength="50">
            <div ng-show="form.currentPassword.$dirty && form.currentPassword.$invalid" class="alert alert-danger">
                <div ng-show="form.currentPassword.$error.required">Please enter old password</div>
                <div ng-show="form.currentPassword.$error.minlength || form.currentPassword.$error.maxlength">Short or too long</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword" class="col-md-4 control-label">Password</label>
        <div class="col-md-6">
            <input class="form-control" name="newPassword" type="password" ng-model="new_password" required  ng-minlength="2" ng-maxlength="50">
            <div ng-show="form.newPassword.$dirty && form.newPassword.$invalid" class="alert alert-danger">
                <span ng-show="form.newPassword.$error.required">Please enter a password</span>					
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="userRetype" class="col-md-4 control-label">Retype Password</label>
        <div class="col-md-6">
            <input class="form-control" name="userRetype" type="password" ng-model='retype_password' ui-validate="'$value==new_password'" ui-validate-watch="'new_password'">
            <div ng-show="form.userRetype.$invalid" class="alert alert-danger">
                <span ng-show="form.userRetype.$error.validator">Passwords don't match</span>					
            </div>
            <div style="margin-top:10px">
                <button type="submit" class="btn btn-primary btn-danger" ng-click="updatePassword()" ng-disabled="form.$invalid">Update</button>
            </div>
        </div>
    </div>
</form>