<div class="clearfix">
    <div class="col-md-9" style="padding:0">
        <ul id="visualization-graphs" class="droppable-place" sortable droppable>
            <li ng-show="visualization.graphs.length==0">
                <h3 style="text-align: center;
                    margin-top: 40px;">Drag and drop items on the right panel</h3>
            </li>
            <li ng-repeat="graph in visualization.graphs" class="widget" ng-include="baseUrl+'/templates/graph.html'" style="padding:5px"></li>
        </ul>
    </div>
    <div class="col-md-3" style="padding:0">
        <ul class="nav nav-tabs">
            <li ng-class="{active: (visual_tab=='classifiers')}"><a href="" ng-click="visual_tab='classifiers'">Classifiers</a></li>
            <li ng-class="{active: (visual_tab=='datasets')}"><a href="" ng-click="visual_tab='datasets'">Datasets</a></li>
        </ul>
        <div class="tab-content" style="border: 1px solid #dddddd;border-top: none;">
            <div class="tab-pane visual-list" ng-class="{active: (visual_tab=='classifiers')}">
                <ul class="nav nav-list">
                    <li ng-repeat="classifier in classifiers" class="draggable" data-index="{{$index}}" data-type="classifier" draggable>
                        <a href="" class="draggable-handle">{{classifier.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane visual-list" ng-class="{active: (visual_tab=='datasets')}">
                <ul class="nav nav-list">
                    <li ng-repeat="dataset in datasets" class="draggable" data-index="{{$index}}" data-type="dataset" draggable>
                        <a href="" class="draggable-handle">{{dataset.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>