<div style="width:50%;margin:100px auto;">
    <div ng-show="frontMessage" class="alert alert-info">
        {{frontMessage}}
    </div>

    <form class="form-horizontal" name="loginForm" ng-show="userDialog==0" novalidate>
        <legend>Login</legend>
        <div class="form-group">
            <label for="userEmail" class="col-md-4 control-label">Email</label>
            <div class="col-md-6">
                <input class="form-control" name="userEmail" type="email" ng-model="user.email" required  ng-minlength="2" ng-maxlength="50">
                <div ng-show="loginForm.userEmail.$dirty && loginForm.userEmail.$invalid" class="alert alert-danger">
                    <span ng-show="loginForm.userEmail.$error.required">Please enter an email</span>
                    <span ng-show="loginForm.userEmail.$error.email">This is not a valid email.</span>
                    <span ng-show="loginForm.userEmail.$error.minlength || loginForm.userEmail.$error.maxlength">Valid range [2,50]</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="userPassword" class="col-md-4 control-label">Password</label>
            <div class="col-md-6">
                <input class="form-control" name="userPassword" type="password" ng-model="user.password"  ng-minlength="2" ng-maxlength="50" required>
                <div ng-show="loginForm.userPassword.$dirty && loginForm.userPassword.$invalid" class="alert alert-danger">
                    <span ng-show="loginForm.userPassword.$error.required">Password is required</span>
                    <span ng-show="loginForm.userPassword.$error.minlength || loginForm.userPassword.$error.maxlength">Valid range [2,50]</span>
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-primary" ng-click="login()" ng-disabled="loginForm.$invalid">Log In</button>
                    <button ng-show="user.signUp" class="btn btn-default btn-sm pull-right" ng-click="userDialog=1">Subscribe &nbsp;&nbsp;<i class="icon-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </form>

    <form class="form-horizontal" name="subscribeForm" ng-show="userDialog==1 && user.signUp" novalidate >
        <legend>Subscription</legend>
        <div class="form-group">
            <label for="newEmail" class="col-md-4 control-label">Email</label>
            <div class="col-md-6">
                <input class="form-control" name="newEmail" type="email" ng-model="newUser.email" required  ng-minlength="2" ng-maxlength="50">
                <div ng-show="subscribeForm.newEmail.$dirty && subscribeForm.newEmail.$invalid" class="alert alert-danger">
                    <div ng-show="subscribeForm.newEmail.$error.required">Please enter an email</div>
                    <div ng-show="subscribeForm.newEmail.$error.email">This is not a valid email.</div>
                    <div ng-show="subscribeForm.newEmail.$error.minlength || subscribeForm.newEmail.$error.maxlength">Valid range [2,50]</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword" class="col-md-4 control-label">Password</label>
            <div class="col-md-6">
                <input class="form-control" name="newPassword" type="password" ng-model="newUser.password" required  ng-minlength="2" ng-maxlength="50">
                <div ng-show="subscribeForm.newPassword.$dirty && subscribeForm.newPassword.$invalid" class="alert alert-danger">
                    <span ng-show="subscribeForm.newPassword.$error.required">Please enter a password</span>
                    <span ng-show="subscribeForm.newPassword.$error.minlength || subscribeForm.newPassword.$error.maxlength">Valid range [2,50]</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="userRetype" class="col-md-4 control-label">Retype Password</label>
            <div class="col-md-6">
                <input class="form-control" name="userRetype" type="password" ng-model='newUser.retype' ui-validate="'$value==newUser.password'" ui-validate-watch="'newUser.password'">
                <div ng-show="subscribeForm.userRetype.$invalid" class="alert alert-danger">
                    <span ng-show="subscribeForm.userRetype.$error.validator">Passwords don't match</span>					
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-primary" ng-click="signUp()" ng-disabled="subscribeForm.$invalid">Sign up</button>
                    <button class="btn btn-default btn-sm pull-right" ng-click="userDialog=0">Log in &nbsp;&nbsp;<i class="icon-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </form>

    <div class="panel panel-default" ng-show="userDialog==2" style="text-align: center;">
        <div class="panel-body">
            <a ng-href="{{baseUrl}}/#/app/classifiers/new" class="btn btn-default">Application</a>
        </div>
    </div>
</div>