<!-- Load code mirror libs -->
<script src="<?php echo $this->baseUrl() ?>/libs/codemirror/lib/codemirror.js"></script>
<link href="<?php echo $this->baseUrl() ?>/libs/codemirror/lib/codemirror.css" rel="stylesheet"/>
<script src="<?php echo $this->baseUrl() ?>/libs/codemirror/mode/python/python.js"></script>
<script src="<?php echo $this->baseUrl() ?>/libs/codemirror/addon/dialog/dialog.js"></script>
<script src="<?php echo $this->baseUrl() ?>/libs/codemirror/addon/search/searchcursor.js"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/addon/dialog/dialog.css">
<script src="<?php echo $this->baseUrl() ?>/libs/codemirror/keymap/vim.js"></script>
<script src="<?php echo $this->baseUrl() ?>/libs/codemirror/addon/selection/active-line.js"></script>

<!-- Load themes  -->
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/neat.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/elegant.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/erlang-dark.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/night.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/monokai.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/cobalt.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/eclipse.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/rubyblue.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/lesser-dark.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/xq-dark.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/xq-light.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/ambiance.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/blackboard.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/vibrant-ink.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/solarized.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/twilight.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/midnight.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/3024-day.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/3024-night.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/base16-light.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/base16-dark.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/codemirror/theme/tomorrow-night-eighties.css">

<!-- load page's script -->
<link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/be/css/compiler.css">
<script src="<?php echo $this->baseUrl() ?>/be/js/services/compilerServices.js"></script>
<script src="<?php echo $this->baseUrl() ?>/be/js/services/programServices.js"></script>
<script src="<?php echo $this->baseUrl() ?>/be/js/compiler.js"></script>

<div class="container" ng-controller="CompilerController"  ng-app="app" ng-cloak>
    <div id="alertModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " ng-class="{'alert-success': (alertModalShow==1),'alert-danger': (alertModalShow==2),'alert-info': (alertModalShow==3)}">
                    <button type="button" class="btn btn-default btn-xs pull-right" data-dismiss="modal" aria-hidden="true">
                        <i class="icon-remove"></i>
                    </button>
                    <h4 class="modal-title">
                        <strong ng-show="alertModalShow==1">Success! </strong>
                        <strong ng-show="alertModalShow==2">Error! </strong>
                        <strong ng-show="alertModalShow==3">Info! </strong>
                        <strong ng-show="alertModalShow==4">Confirm! </strong>
                    </h4>
                </div>
                <div class="modal-body">
                    {{alertModalMessage}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-show="alertModalShow==4" ng-click="alertCallback()">Yes</button>
                    <button type="button" class="btn btn-default btn-sm" ng-show="alertModalShow==4"  data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-default btn-sm" ng-show="alertModalShow!=4"  data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar" style="margin-bottom: 0px;min-height: 30px;">
        <ul class="nav navbar-nav col-md-12" style='padding:0'>
            <li class='col-md-2' style="padding:0">
                <a target="_blank" class="navbar-brand" style='padding: 8px 10px 8px 10px;' href="<?php echo $this->baseUrl(); ?>">Home</a>
            </li>
            <li class='col-md-9'>
                <div ng-show="alertType!=0" style='overflow: auto;'>
                    <div class="alert" ng-class="{'alert-success': alertType==1, 'alert-danger':alertType==2, 'alert-info': alertType==3 }" ng-show="alertType!=undefined">
                        <b>[{{alertTime}}]</b> {{alertMessage}}
                    </div>
                </div>
            </li>
            <li class='col-md-1' style='padding:0'>
                <a target="_blank" class='navbar-brand pull-right' style='padding: 8px 10px 8px 10px; cursor:pointer' href="<?php echo $this->baseUrl(); ?>{{'/be/guide.html'}}"><i class='icon-question'></i></a>
            </li>
        </ul>
    </div>
    
    <div class="well" style="margin: 10px 0;" ng-show="programPanel!='close'">
        <form name="open_form" ng-show="programPanel=='open' || programPanel=='new'" novalidate>
            <div class="form-group">
                <select-dropdown list="programType" selected-key='openType' change='resetOpenDialog()'>
                </select-dropdown>
            </div>
            <div class="row" >
                <div class="col-md-6">
                    <div style='margin:5px'>
                        <b style='margin-right: 5px; float:left'>Folders:</b>
                        <div ng-show="folderDialog=='start'">
                            <button class="btn btn-default btn-sm" ng-click="folderDialog='new';newFolderName=''">New</button>
                            <button class="btn btn-default btn-sm" ng-click="showRenameFolderDialog()" ng-show='selectedFolderIndex!=null'>Rename</button>
                            <button class="btn btn-default btn-sm" ng-click="deleteFolder()" ng-show='selectedFolderIndex!=null'>Delete</button>
                            <button class="btn btn-default btn-sm" ng-click="folderMoveUp()" ng-show='selectedFolderIndex!=null'><i class="icon-arrow-up"></i></button>
                            <button class="btn btn-default btn-sm" ng-click="folderMoveDown()" ng-show='selectedFolderIndex!=null'><i class="icon-arrow-down"></i></button>
                            <label style="margin-left: 5px;" ng-show='selectedFolderIndex!=null'><input type="checkbox" ng-checked="selectedFolderVisibility"  ng-click="toggleFolderVisibility()"/> Show</label>
                        </div>
                        <div ng-show="folderDialog=='new'">
                            <input name='folderNewName' type="text" class="form-control col-md-4" placeholder="folder name..." style="width:200px" ng-model='newFolderName' />
                            <button class="btn btn-default btn-sm" style="margin-left:5px" ng-click="createFolder()">Create</button>
                            <button class="btn btn-default btn-sm" ng-click="folderDialog='start'"><i class="icon-remove"></i></button>
                        </div>
                        <div ng-show="folderDialog=='rename'">
                            <input name='folderRename' type="text" class="form-control col-md-4" placeholder="a different name..." style="width:200px" ng-model='newFolderName' />
                            <button class="btn btn-default btn-sm" style="margin-left:5px" ng-click="renameFolder()">Rename</button>
                            <button class="btn btn-default btn-sm" ng-click="folderDialog='start'"><i class="icon-remove"></i></button>
                        </div>
                    </div>
                    <div class="form-group" ng-show="openType=='classifier'">
                        <select class="form-control" size="10" ng-options="folder.index as folder.name for folder in classifierFolders" ng-model="selectedFolderIndex" ng-change='changeFolder()' >
                        </select>
                    </div>
                    <div  class="form-group" ng-show="openType=='dataset'">
                        <select class="form-control" size="10" ng-options="folder.index as folder.name for folder in datasetFolders" ng-model="selectedFolderIndex" ng-change='changeFolder()'>
                        </select>
                    </div>
                    <div class="form-group" ng-show="programPanel=='new'">
                        <div  style='display: table;'>
                            <span class='pull-left'>
                                <input name="new_name" placeholder='New program name...' type="text" class="form-control" required ng-minlength="2" ng-maxlength="50" ng-model="newProgram.name"/>
                                <div ng-show="open_form.new_name.$dirty && open_form.new_name.$invalid" class="alert alert-danger">
                                    <div ng-show="open_form.new_name.$error.required">Please enter program name</div>
                                    <div ng-show="open_form.new_name.$error.minlength || open_form.new_name.$error.maxlength">Name length (2,50)</div>
                                </div>
                            </span>
                            <span class='pull-left' style='margin-left:5px'>
                                <select-dropdown list="programLanguages" selected-key='newProgram.language'>
                                </select-dropdown>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default btn-sm" ng-click="programPanel='close'">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="createNewProgram()" ng-disabled="open_form.$invalid || selectedFolderIndex==null" ng-show="programPanel=='new'">Create</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <label style='margin-bottom: 20px;'>Programs:</label>
                    <div class="form-group">
                        <select class="form-control" size="10" ng-options="program.id as program.full_name for program in setOfPrograms" ng-model="selectedProgram.id" ng-show="programPanel=='open'">
                        </select>
                        <ul ng-show="programPanel=='new'">
                            <li ng-repeat='program in setOfPrograms'>{{program.full_name}}</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" ng-click="openProgram()" ng-show="programPanel=='open'" ng-disabled="selectedProgram.id==undefined">Open</button>
                    </div>
                </div>
            </div>
        </form>
        <form ng-show="programPanel=='delete'">
            Do you want to delete this program ? 
            <span style="margin-left:10px">
                <button class="btn btn-primary btn-sm" ng-click="deleteProgram()">Yes</button>
                <button class="btn btn-default btn-sm" ng-click="programPanel='close'" style="margin-left:5px">No</button>
            </span>
        </form>
        <div ng-show="programPanel=='loading'" class="progress progress-striped active" style="width:20%;margin: 0 auto;">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
        <div ng-show="programPanel=='running'" style="width:30%;margin: 0 auto;">
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%"></div>
            </div>
            <h4>Program: {{runningProgram.program_name}}</h4>
            <h5>Dataset:  {{runningProgram.dataset_name}}</h5>
            <ul style="list-style: none;padding-left:0px">
                <li ng-repeat="argument in runningProgram.arguments">
                    <b>{{argument.name}}</b>: {{argument.value}}
                </li>
            </ul>
            <button class="btn btn-default btn-sm" ng-click="stopRunningProgram()">Stop</button>
        </div>
        <div ng-show="programPanel=='description'">
            <form>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea type="text" class="form-control" rows='5' ng-model="program.description">
                    </textarea>
                </div>
                <button class="btn btn-default btn-sm" ng-click="programPanel='close'">Close</button>
            </form>
        </div>
        <div ng-show="programPanel=='arguments'" class='row'>
            <form name="argument_form" class="form-horizontal col-md-6" novalidate>
                <div class="form-group">
                    <label for="argument_name" class="col-md-4 control-label">Name:</label>
                    <div class="col-md-6">
                        <input type="text" name="argument_name" class="form-control" ng-model='newParm.name' required ng-minlength="2" ng-maxlength="50" />
                        <div ng-show="argument_form.argument_name.$dirty && argument_form.argument_name.$invalid" class="alert alert-danger">
                            <div ng-show="argument_form.argument_name.$error.required">Required</div>
                            <div ng-show="argument_form.argument_name.$error.minlength || argument_form.argument_name.$error.maxlength">Length (2,50)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Hint:</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model='newParm.hint'/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-sm" ng-click="programPanel='close'">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="addArgument()" ng-disabled="argument_form.$invalid"><i class="icon-plus"></i> Add</button>
                    </div>
                </div>
            </form>
            <div class="col-md-6">
                <b>Arguments: </b>
                <ol>
                    <li><a href=''>User output folder</a></li>
                    <li><a href=''>Process id</a></li>
                    <li ng-show="program.type=='classifier'"><a href=''>Classifier id</a></li>
                    <li ng-show="program.type=='classifier'"><a href=''>New/Continue ('0' or '1')</a></li>
                    <li><a href=''>Dataset file</a></li>
                    <li ng-repeat="argument in program.arguments" data-toggle="tooltip"><a href="#" data-toggle="tooltip" title="{{argument.hint}}">{{argument.name}}</a> <button type="submit" class="btn btn-default btn-xs" ng-click="deleteParamter($index)"><i class="icon-minus"></i></button></li>
                </ol>
            </div>
        </div>
        <div ng-show="programPanel=='run'">
            <form class="form-horizontal" style="width:50%" novalidate>
                <div class="form-group" ng-show="program.type=='classifier'">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-6">
                        <select-dropdown list="runTypes" selected-key='runTypeIndex'></select-dropdown>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Dataset</label>
                    <div class="col-md-6">
                        <select-dropdown list="datasets" selected-key='datasetIndex'></select-dropdown>
                    </div>
                </div>
                <div class="form-group" ng-repeat="argument in runArguments" ng-form="subForm">
                    <label class="col-md-4 control-label">{{argument.name}}</label>
                    <div class="col-md-6">
                        <input type="text" name="argument_input" class="form-control" ng-model="argument.value" required>
                        <div style="padding: 1px 5px;" class="alert alert-info">{{argument.hint}}</div>
                        <div ng-show="subForm.argument_input.$dirty && subForm.argument_input.$invalid" class="alert alert-danger col-md-12">
                            <span ng-show="subForm.argument_input.$error.required">{{argument.name}} is required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-default btn-sm" ng-click="programPanel='close'">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="runProgram()" ng-disabled="datasetIndex==null">Run</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="clearfix" ng-show="programPanel=='close'" style="margin: 5px 0;">
        <div class="pull-left btn-toolbar">
            <div class="btn-group">
                <a href="<?php echo $this->baseUrl() . "/index.php/be/#/programs"; ?>" type="button" class="btn btn-default btn-sm">Exit</a>
                <button type="button" class="btn btn-default btn-sm" ng-click="showNewPanel()">New</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="showOpenPanel()">Open</button>
            </div>
            <div style="margin-left: 20px;" class="btn-group" ng-show="program.id!=null">
                <div ng-show="editName==1">
                    <input style="width:250px;float:left" type="text" class="form-control" ng-model="newName"/>
                    <button style="float:left;margin-left:5px" type="button" class="btn btn-sm btn-default"  ng-click="changeFileName()"><i class="icon-ok"></i></button>
                </div>
                <span ng-show="editName==0" style="font-size: 14px;">
                    <span ng-show="program.type=='classifier'">Classifier: </span>
                    <span ng-show="program.type=='dataset'">Dataset: </span>
                    <span>{{program.name}}{{program.extension}}</span>
                    <button type="button" class="btn btn-sm btn-default" ng-click="openFileRename()"><i class='icon-edit'></i></button>
                </span>
            </div>
            <div class='btn-group'ng-show="program.id!=null">
                <button type="button" class="btn btn-default btn-sm" ng-click="programPanel='description'">Description</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="programPanel='arguments'">Arguments</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="saveProgram()">Save</button>
                
                <a type="button" class="btn btn-default btn-sm" ng-show="program.language=='c'" ng-click='compileProgram()'>Compile & Run</a>
                <a type="button" class="btn btn-default btn-sm" ng-show="program.language=='python'" ng-click="showRunDialog()">Run</a>
            </div>
        </div>
        <div class="pull-right" ng-show="program.id!=null">
            <button type="button" class="btn btn-default btn-sm" ng-click="programPanel='delete'">Delete</button>
        </div>
    </div>

    <div ng-show="programPanel!='running'" style="
         margin-bottom: 10px;
         border-top: 1px solid #ccc;
         border-bottom: 1px solid #ccc;">
        <textarea id="compilerArea" style="height:500px" ></textarea>
    </div>
    
    <ul class="nav nav-tabs">
        <li ng-class="{'active':outputTab=='terminal'}" ng-click="outputTab='terminal'"><a href="">StdOut/StdErr</a></li>
        <li ng-class="{'active':outputTab=='output'}" ng-click="outputTab='output'"><a href="">Output folder</a></li>
        <li class="pull-right">
            Theme: 
            <label style="margin-right: 10px">
                <select-dropdown class='dropdown-top-left' list="themes" selected-key='selectedTheme' change='selectTheme()'></select-dropdown>
            </label>
        </li>
    </ul>
    <div id='output' class="tab-content">
        <div ng-class="{'active':outputTab=='terminal'}" class="tab-pane active">
            <div class="btn-toolbar" style="margin-bottom:5px">
                <button style="margin-left: 5px;" class="btn btn-default btn-xs pull-right" ng-click="getTerminalOutput()">Last Output</button>
                <button class="btn btn-default btn-xs pull-right" ng-click="terminalOutput=[]">Clear</button>
            </div>
            <div id="terminalArea" class="outputArea">
                <ul>
                    <li ng-repeat='line in terminalOutput track by $index'>
                        {{line}}
                    </li>
                </ul>
            </div>
        </div>
        <div ng-class="{'active':outputTab=='output'}" class="tab-pane">
            <div class="btn-toolbar" style="margin-bottom:5px">
                <button style="margin-left: 5px;" class="btn btn-default btn-xs pull-right" ng-click="emptyOutputFolder()">Empty folder</button>
                <button style="margin-left: 5px;" class="btn btn-default btn-xs pull-right" ng-click="refreshOutputFolder()">Refresh</button>
            </div>
            <div class="clearfix" style="height:330px">
                <div ng-show="!gettingFile">
                    <div class="col-md-4 outputArea" style="padding:0">
                        <div class="list-group" ng-show="outputFiles.length>0">
                            <a style='cursor:pointer' class="list-group-item" ng-repeat="file in outputFiles" ng-class="{active:selectedOutputIndex==$index}" ng-click="getOutputFile($index)">{{file.name}}</a>
                        </div>
                        <div ng-show="outputFiles.length==0">
                            <p>Folder is empty.</p>
                        </div>
                    </div>
                    <div class="col-md-8" style="padding:0">
                        <div ng-show="selectedOutputFile!=null">
                            <div>
                                <button class="btn btn-default btn-xs" style="margin-bottom:5px" ng-click="deleteOutputFile()">Delete File</button>
                            </div>
                            <div style="height:300px;overflow-y:scroll;">
                                <div ng-show="!selectedOutputFile.oversize">
                                    <div ng-show="selectedOutputFile.format!='png'">
                                        <pre>{{selectedOutputFile.content}}</pre>
                                    </div>
                                    <div ng-show="selectedOutputFile.format=='png'">
                                        <img src="{{selectedOutputFile.content}}"></img>
                                    </div>
                                </div>
                                <div ng-show="selectedOutputFile.oversize">
                                    <p>File is larger than {{MAX_FILE}} mb</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="gettingFile">
                    <div class="progress progress-striped active" style="width:20%;margin: 50px auto;">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>