<link href="<?php echo $this->baseUrl() ?>/be/css/main.css" rel="stylesheet"/>
<script src="<?php echo $this->baseUrl() ?>/be/js/main.js"></script>
<script src="<?php echo $this->baseUrl() ?>/be/js/program.js"></script>
<script src="<?php echo $this->baseUrl() ?>/be/js/user.js"></script>
<script src="<?php echo $this->baseUrl() ?>/be/js/setting.js"></script>
<script src="<?php echo $this->baseUrl() ?>/be/js/services/programServices.js"></script>
<script src="<?php echo $this->baseUrl() ?>/be/js/services/processServices.js"></script>
<script src="<?php echo $this->baseUrl() ?>/be/js/services/userServices.js"></script>
<script src="<?php echo $this->baseUrl() ?>/be/js/services/settingServices.js"></script>

<div ng-controller="MainController"  ng-app="main" ng-cloak>
    <ul class="nav nav-tabs" style="margin-bottom: 5px">
        <li ng-class="{active: $state.includes('programs')||$state.includes('programs_detail')}">
            <a ng-href="{{baseUrl}}/index.php/be/#/programs"><i class="icon-cogs"></i> Process Monitor  </a>
        </li>
        <li>
            <a ng-href="{{baseUrl}}/index.php/be/compiler"><i class="icon-file"></i> Program Editor </a>
        </li>
        <li ng-class="{active: $state.includes('users')}">
            <a ng-href="{{baseUrl}}/index.php/be/#/users"><i class="icon-user"></i> Users </a>
        </li>
        <li ng-class="{active: $state.includes('settings')}">
            <a ng-href="{{baseUrl}}/index.php/be/#/settings"><i class="icon-cog"></i> Settings </a>
        </li>
    </ul>
    <div class="tab-content">
        <div ui-view class="tab-pane active">

        </div>
    </div>

    <div id="alertModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " ng-class="{'alert-success': (alertShow==1),'alert-danger': (alertShow==2),'alert-info': (alertShow==3)}">
                    <button type="button" class="btn btn-default btn-xs pull-right" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i>
                </button>  
                    <h4 class="modal-title">
                        <strong ng-show="alertShow==1">Success! </strong> 
                        <strong ng-show="alertShow==2">Error! </strong> 
                        <strong ng-show="alertShow==3">Info! </strong> 
                        <strong ng-show="alertShow==4">Confirm! </strong> 
                    </h4>
                </div>
                <div class="modal-body">
                    {{alertMessage}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-show="alertShow==4" ng-click="alertCallback()">Yes</button>
                    <button type="button" class="btn btn-default btn-sm" ng-show="alertShow==4"  data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-default btn-sm" ng-show="alertShow!=4"  data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
