<form class="form-horizontal" name="form" method="POST" style="margin: 100px auto;width: 50%;" action="<?php echo $this->baseUrl().'/index.php/be/login';?>">
    <legend>Login</legend>
    <?php if ($this->loginError): ?>
        <div class="alert alert-danger">
            Wrong username or password !
        </div>
    <?php endif; ?>
    <div class="form-group">
        <label class="col-md-4 control-label">Username</label>
        <div class="col-md-6">
            <input type="text" name="username" class="form-control" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Password</label>
        <div class="col-md-6">
            <input type="password" name="password" class="form-control" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
</form>