<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title><?php echo $this->brand; ?></title>

        <link href="<?php echo $this->baseUrl() ?>/libs/bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <script src="<?php echo $this->baseUrl() ?>/libs/jquery/jquery-1.9.1.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <link href="<?php echo $this->baseUrl() ?>/libs/jquery/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"/>

        <!--
        http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css
        -->
        <script src="<?php echo $this->baseUrl() ?>/libs/bootstrap/js/bootstrap.min.js"></script>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- font awesome -->
        <link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/fontawesome/css/font-awesome.min.css">
        <!-- angularjs -->
        <script src="<?php echo $this->baseUrl() ?>/libs/angular/angular.min.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/angular/modules/angular-ui-states.min.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/angular/modules/angular-resource.min.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/angular/modules/validate.js"></script>

        <link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/css/layout.css" />
        <script src="<?php echo $this->baseUrl() ?>/js/layout.js"></script>
    </head>
    <body>
        <div class="navbar" style="margin-bottom: 0px;">
            <div class="container">
                <a class="navbar-brand brand-name" href="<?php echo $this->baseUrl(); ?>"><?php echo $this->brand; ?></a>
                <?php if($this->admin!=null):?>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="<?php echo $this->baseUrl().'/index.php/be/logout';?>" class="btn">Logout</a>
                    </li>
                </ul>
                <?php endif; ?>
            </div>
        </div>
        <div class="container">
            <?php echo $this->layout()->content ?>
        </div>
    </body>
</html>