<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title><?php echo $this->brand; ?></title>

        <link href="<?php echo $this->baseUrl() ?>/libs/bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <script src="<?php echo $this->baseUrl() ?>/libs/jquery/jquery-1.9.1.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <link href="<?php echo $this->baseUrl() ?>/libs/jquery/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"/>

        <!--
        http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css
        -->
        <script src="<?php echo $this->baseUrl() ?>/libs/bootstrap/js/bootstrap.min.js"></script>

        <!-- nvd3 library -->
        <link href="<?php echo $this->baseUrl() ?>/libs/nvd3/src/nv.d3.css" rel="stylesheet">
        <script src="<?php echo $this->baseUrl() ?>/libs/nvd3/lib/d3.v3.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/nvd3/nv.d3.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/nvd3/src/utils.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/nvd3/src/models/legend.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/nvd3/src/models/scatter.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/nvd3/src/models/line.js"></script>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- font awesome -->
        <link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/libs/fontawesome/css/font-awesome.min.css">
        <!-- angularjs -->
        <script src="<?php echo $this->baseUrl() ?>/libs/angular/angular.min.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/angular/modules/angular-ui-states.min.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/angular/modules/angular-resource.min.js"></script>
        <script src="<?php echo $this->baseUrl() ?>/libs/angular/modules/validate.js"></script>

        <link rel="stylesheet" href="<?php echo $this->baseUrl() ?>/css/layout.css" />
        <script src="<?php echo $this->baseUrl() ?>/js/layout.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar" style="margin-bottom: 0px;">
                <a class="navbar-brand brand-name" href="<?php echo $this->baseUrl() . '/#/app/'; ?>"><?php echo $this->brand; ?></a>
                <a target="_blank" class="navbar-brand pull-right" href="<?php echo $this->baseUrl() . '/guide.html'; ?>"><i class="icon-question-sign"></i></a>
            </div>
            <div>
                <?php echo $this->layout()->content ?>
                <div class="footer">
                    <p class="pull-left"><a id="btn-about" style="cursor:pointer" style="font-size:12px">About </a></p>
                </div>
            </div>
        </div>

        <div id="aboutModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content" style="color: rgb(245, 245, 245)!important;background-color: #1B1B1B;">
                    <div class="modal-header ">
                        <button type="button" class="btn btn-xs pull-right" data-dismiss="modal" aria-hidden="true">
                            <i class="icon-remove icon-2x"></i>
                        </button>
                        <h4 class="modal-title">
                            About
                        </h4>
                    </div>
                    <div class="modal-body" style='padding:20px'>
                        <h4>Contributors</h4>
                        <ul>
                            <li>Trung Thanh Lam</li>
                            <li>Anthony Chen</li>
                            <li>Kevin Hwang</li>
                        </ul>
                        <h4>Professor</h4>
                        <ul>
                            <li>Kamalika Chaudhuri</li>
                        </ul>
                        <div class="footer">
                            <p>
                                UCSD CSE department
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>