<div style="width:50%;margin:30px auto;">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Error</h3>
        </div>
        <div class="panel-body">
            <div style="text-align: center">
                NOOOooooooo ! Something was wrong !
                <br>
                <h3>
                    џ(ºДºџ)
                </h3>
                <br>
                <a class="btn btn-default btn-sm" href="<?php echo $this->baseUrl() ?>"><i class="icon-arrow-left"></i> Back</a>
            </div>
        </div>
    </div>
</div>