<div ng-show="subNav=='programs'" style="margin-top:30px">
    <div class="col-md-6">
        <legend>Classifier <span class="label label-danger" style="padding-top: 5px;margin-left: 5px;">{{totalClassifier}} active</span></legend>
        <ul style="list-style: none;">
            <li ng-repeat="folder in classifierFolders">
                <h4>{{folder.name}}</h4>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="program in folder.programs">
                        <a ng-href="{{baseUrl}}/index.php/be/#/programs/{{program.id}}">{{program.full_name}}</a>
                        <span class="label label-danger pull-right" style="padding:5px">{{program.process_count}}</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <legend>Dataset <span class="label label-danger" style="padding-top: 5px;margin-left: 5px;">{{totalDataset}} active</span></legend>
        <ul style="list-style: none;">
            <li ng-repeat="folder in datasetFolders">
                <h4>{{folder.name}}</h4>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="program in folder.programs">
                        <a ng-href="{{baseUrl}}/index.php/be/#/programs/{{program.id}}">{{program.full_name}}</a>
                        <span class="label label-danger pull-right" style="padding:5px">{{program.process_count}}</span>
                    </li>
                </ul>
            </li>
        </ul>    
    </div>
</div>

<div ng-show="subNav=='processlist'" style="margin-top:30px">
    <h4>Program: {{selectedProgram.name}}</h4>
    <table class="table table-bordered table-condensed table-hover" ng-mouseleave="activeProcessIndex=-1">
        <thead class="table-header">
            <tr>
                <td class='col-md-1'>Status</td>
                <th class='col-md-2'>Start time</th>
                <th class='col-md-2'>Duration(min)</th>
                <th class='col-md-3'>Parameters</th>
                <th class='col-md-1'>User</th>
                <th class='col-md-1'></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat ="process in selectedProcesses" ng-mouseover="assignActiveHover($index)">
                <td style="padding:6px">
                    <span class="label label-success" ng-show="process.status=='done'">Done</span>
                    <span class="label label-warning" ng-show="process.status=='active'">Active</span>
                </td>
                <td>{{process.formated_start_time}}</td>
                <td>{{process.duration}}</td>
                <td>
                    <ul style="list-style: none;">
                        <li ng-repeat="argument in process.arguments">
                            <b>{{argument.name}}</b>: {{argument.value}}
                        </li>
                    </ul>
                </td>
                <td>{{process.user_email}}</td>
                <td><button ng-click="stopProcess(process)" ng-show="activeProcessIndex==$index" class="btn btn-default btn-xs">Stop</button></td>
            </tr>
        </tbody>
    </table>
</div>