<form class="form-horizontal" style="margin:30px auto; width:50%">
    <fieldset>
        <legend>Settings</legend>
        <div class="form-group">
            <label class="col-md-6 control-label">Name</label>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="settings.brand"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-6 control-label">Construction Mode</label>
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.construction">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-6 control-label">Allow Subscription</label>
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.signup">
                    </label>
                </div>
            </div>
        </div>        
        <div class="form-group">
            <label class="col-md-6 control-label">Max Processes/User</label>
            <div class="col-md-4">
                <input type="number" class="form-control" ng-model="settings.max_processes"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-6 control-label">Max Size/Dataset</label>
            <div class="col-md-4"><label>
                    <input type="number" class="form-control" ng-model="settings.max_dataset_size"/>
                    (Megabytes)</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-6 control-label"></label>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" ng-click="updateSettings()">Update</button>
            </div>
        </div>
    </fieldset>
</form>