<div class="tab-content">
    <div id="users" class="tab-pane active">
        <form class="form-inline clearfix" style="margin:10px 0">
            <input style='width:250px' ng-model='search' type="text" class="pull-left form-control" placeholder='email...'>
            <b style="margin-top:10px" class="pull-right">Total: {{users.length}} users</b>
        </form>
        <table class='table table-bordered table-condensed table-striped' ng-mouseleave="activeProcessIndex=-1">
            <thead class="table-header">
                <tr>
                    <td class="col-md-1">#</td>
                    <td class="col-md-4">Email</td>
                    <td class="col-md-3">Join date</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | filter:search | orderBy:'email'" ng-mouseover="assignActiveHover($index)">
                    <td style="padding:6px">{{$index+1}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.formated_join_date}}</td>
                    <!---
                    <td>
                        <button ng-show="activeProcessIndex==$index" class='btn btn-default btn-xs'>Reset password</button>
                    </td>
                    --->
                </tr>
            </tbody>
        </table>
    </div>
</div>